//Alegreya Sans SC
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;700&display=swap');

//Antic
@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

//Assistant
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap');

//Didact Gothic
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');