//VARIÁVEIS
    //Cores
    $azulBG: #E9F0F6;
    $azulE: #2D2B6C;
    $azulC: #28ADE4;
    $verde: #ADD2D5;

    //Tamanhos de tela
    $XSmax: 575px;
    $SMmin: 576px;
    $SMmax: 767px;
    $MDmin: 768px;
    $MDmax: 991px;
    $LGmin: 992px;
    $LGmax: 1200px;
    $XLmin: 1201px;

//MIXINS
    //Mobile
    @mixin mobile($minHeight: false, $maxHeight: false) {
        @if $minHeight == false and $maxHeight == false {
            @content;
        } @else {
            @if $maxHeight == false {
                @media only screen and (min-width : $minHeight) {
                    @content;
                }
            } @else {
                @if $minHeight == false {
                    @media only screen and (max-width : $maxHeight) {
                        @content;
                    }
                } @else {
                    @media only screen and (min-width : $minHeight) and (max-width : $maxHeight) {
                        @content;
                    }
                }
            }
        }
    }

    //Placeholder
    @mixin placeholder() {
         $selector: '';
         $prefixes: (
              moz: "::-moz",
              webkit: "::-webkit",
              ie: ":-ms",
              opera: ":-o"
         );
         @each $prop, $value in $prefixes {
              @if $prop != "moz" {
                   $selector: #{$value}-input-placeholder;
              } @else {
                   $selector: #{$value}-placeholder;
              }
              @if & {
                   &#{$selector} {
                        @content;
                   }
              } @else {
                   #{$selector} {
                        @content;
                   }
              }
         }
         &::placeholder {
              @content;
         }
    }

    //Gradient
    @mixin grad($color1: false, $color2: false) {
        @if $color1 == false and $color2 == false {
            background: rgba(0,0,0,0);
        } @else {
            @if $color1 == false {
              background: $color2;
            } @else {
                @if $color2 == false {
                  background: $color1;
                } @else {
                  background: $color1;
                  background: -moz-linear-gradient(90deg, $color1 0%, $color2 100%);
                  background: -webkit-linear-gradient(90deg, $color1 0%, $color2 100%);
                  background: linear-gradient(90deg, $color1 0%, $color2 100%);
                  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$color1",endColorstr="$color2",GradientType=1);
                  filter: inherit;
                  -webkit-transition: 0.4s;
                  -moz-transition: 0.4s;
                  -ms-transition: 0.4s;
                  -o-transition: 0.4s;
                  transition: 0.4s;
                  &:hover {
                    filter:contrast(150%) brightness(100%);
                  }
                }
            }
        }
    }