body {
    background-color: $azulBG;
    font-family: 'Assistant';
    #page {
        overflow-x: hidden;
    }
}

a,
a:hover,
a:visited,
a:active,
a:focus {
    color: inherit;
    text-decoration: inherit;
    outline: none;
}
input,
button,
select {
    outline: none;
    &:hover,
    &:focus {
        outline: none;
    }
}
img {
    max-width: 100%;
    height: auto;
    outline: none !important;
    user-select: none !important;
    &:focus {
        outline: none !important;
        user-select: none !important;
    }
}
.desktop,
.Desktop {
    @include mobile(false, $MDmax) {
        display: none !important;
    }
}

.mobile,
.Mobile {
    @include mobile($LGmin) {
        display: none !important;
    }
}



#site-navigation {
    z-index: 10;
    #menu-icone {
        width: 35px;
        height: 32px;
        z-index: 10;
        height: 27px;
        left: 0px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        display: block;
        @include mobile(false, $MDmax) {
            margin-top: 10px;
            width: 35px;
            z-index: 1000000000000;
        }
        span {
            display: block;
            position: absolute;
            height: 5px;
            width: 100%;
            background: $azulE;
            border-radius: 20px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2),
            &:nth-child(3) {
                top: 10px;
            }
            &:nth-child(4) {
                top: 20px;
            }
        }
        &.open {
            span {
                &:nth-child(1) {
                    top: 12px;
                    width: 0%;
                    left: 50%;
                }
                &:nth-child(2) {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
                &:nth-child(4) {
                    top: 12px;
                    width: 0%;
                    left: 50%;
                }
            }
        }
    }
    .menu-container {
        position: absolute;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        opacity: 0;
        left: 0px;
        display: none;
        min-width: 270px;
        width: 100%;
        @include mobile(false, $MDmax) {
            z-index: 10;
            margin: 10px 5% 0px 5%;
            width: 90%;
        }
        &.show {
            opacity: 1;
        }
        &.open {
            display: block;
        }
        ul {
            &.hidden {
                & > li {
                    display: none;
                }
                .show {
                    display: list-item;
                    & > a {
                        display: none;
                    }
                }
            }
        }
        #primary-menu {
            list-style-type: none;
            padding: 0px;
            overflow: hidden;
            border-radius: 10px;
            background-color: #FFF;
            font-size: 14px;
            -webkit-filter: drop-shadow(0px 30px 20px rgba(45, 43, 108, 0.32));
            filter: drop-shadow(0px 30px 20px rgba(45, 43, 108, 0.32));
            @include mobile(false, $MDmax) {
                font-size: 14px;
            }
            li {
                color: $azulE;
                position: relative;
                -webkit-transition: 0.2s;
                -moz-transition: 0.2s;
                -ms-transition: 0.2s;
                -o-transition: 0.2s;
                transition: 0.2s;
                list-style-type: none;
                &:hover {
                    background-color: $azulE;
                    color: #FFF;
                }
                a {
                    display: block;
                    position: relative;
                    letter-spacing: 0.2px;
                    padding: 7px 15px;
                    padding-right: 45px;
                }
                &.menu-item-has-children {
                    & > a:after {
                        position: absolute;
                        right: 15px;
                        content: '\25BA';
                        font-size: 12px;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                    &.show {
                        display: block;
                        ul {
                            &:hover {
                                background-color: #FFF;
                            }
                        }
                        & > a  {
                            display: none;
                            &.lastMenu {
                                display: block;
                                background-color: $azulC;
                                color: #FFF !important;
                                font-size: 0px;
                                cursor: pointer;
                                &:hover {
                                    -webkit-transition: 0.4s;
                                    -moz-transition: 0.4s;
                                    -ms-transition: 0.4s;
                                    -o-transition: 0.4s;
                                    transition: 0.4s;
                                    background-color: $azulE;
                                }
                                &:after {
                                    content: '\25C0';
                                    font-size: 12px;
                                    top: 50%;
                                    -webkit-transform: translateY(-50%);
                                    -moz-transform: translateY(-50%);
                                    -ms-transform: translateY(-50%);
                                    -o-transform: translateY(-50%);
                                    transform: translateY(-50%);
                                }
                                &:before {
                                    display: inline;
                                    content: 'voltar';
                                    position: static;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                    .sub-menu {
                        display: none;
                        padding-left: 0px;
                        &.show {
                            display: list-item;
                        }
                        li {
                            list-style-type: none;
                            background-color: #FFF;
                            &:hover {
                                background-color: $azulE;
                                color: #FFF;
                            }
                        }
                    }
                }
            }
        
        }
    }                    
}

.row.full {
    padding: 50px 0px;
    min-height: 100vh;
    @include mobile(false, $MDmax) {
        min-height: auto;
    }
}

button.btAgenda {
    background-color: $azulE;
    color: #FFF;
    border-radius: 50px;
    font-family: 'Assistant';
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    padding: 15px;
    text-transform: uppercase;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    &:hover {
        background-color: $azulC;
        color: $azulE;
    }
}

form.formulario {
    input {
        border: none;
        margin-bottom: 10px;
        padding: 5px 10px;
        font-size: 14px;
        border-radius: 20px;
        width: 100%;
        color: $azulE;
        @include placeholder() {
            color: $azulE;
            opacity: 0.75;
            text-transform: uppercase;
        }
    }
    button {
        @extend .roundButton;
    }
}

.roundButton {
    cursor: pointer;
    outline: none;
    background-image: url(assets/img/seta.png);
    background-size: auto 60%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
    font-size: 0px;
    border: none;
    display: block;
    background-color: #2D2B6C;
    border-radius: 100px;
    margin: auto 0 auto auto;
    width: 40px;
    height: 40px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: 1px solid #2D2B6C;
    &:hover {
        background-image: url(assets/img/setaB.png);
        background-color: #FFF;
    }
}


.titulo {
    font-family: 'Antic', sans-serif;
    text-transform: uppercase;
    color: $azulE;
    font-size: 38px;
    letter-spacing: 1px;
    line-height: 1.2em;
    @include mobile(false, $MDmax) {
        font-size: 36px;
        text-align: center;
        line-height: 1em;
    }
}



.share {
    margin: 50px 0px 20px;
    @include mobile(false, $MDmax) {
        margin: 20px 0px 50px;
        text-align: center;
    }
    a {
        display: inline-block !important;
    }
    h4 {
        display: block;
        font-size: 22px;
        margin-bottom: 0px;
        font-family: 'Assistant';
        color: $azulE;
        margin-bottom: 15px;
        strong {
            font-weight: 700;
        }
    }
    .icones {
        width: 37px;
        display: inline-block;
        vertical-align: -5px;
        margin-right: 15px;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        &:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
}

#wpdcom {
    max-width: 100%;
}
#comments {
    margin: 0px;
}

.cabecalho {
    font-family: 'Antic', sans-serif;
    color: $azulE;
    margin-bottom: 50px;
    h2 {
        text-transform: uppercase;
        font-size: 60px;
        @include mobile(false, $MDmax) {
            font-size: 32px;
            text-align: center;
        }
    }
    p {
        font-size: 18px;
        line-height: initial;
        @include mobile(false, $MDmax) {
            font-size: 16px;
            text-align: center;
        }
    }
}

 .search {
    z-index: 5;
    #search-icone {
        cursor: pointer;
    }
    #searchform {
        position: absolute;
        width: 0%;
        height: 29px;
        top: 0px;
        right: 30px;
        opacity: 0;
        overflow: hidden;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        &.open {
            width: calc(100% - 59px);
            right: 59px;
            opacity: 1;
        }
        .field {
            border: 1px solid $azulE;
            border-radius: 50px;
            background-color: rgba(255,255,255, 0.75);
            color: $azulE;
            width: 100%;
            height: 100%;
            font-size: 12px;
            top: 0px;
            left: 0px;
            position: absolute;
            padding: 5px 10px;
        }
    }
}

.relacionado {
    h3 {
        display: block;
        font-size: 22px;
        margin-bottom: 30px;
        font-family: 'Assistant';
        color: $azulE;
        text-align: center;
        font-weight: 700;
    }
    .itens {
        .item {
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -ms-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;
            &:hover {
                -webkit-transform: scale(1.025);
                -moz-transform: scale(1.025);
                -ms-transform: scale(1.025);
                -o-transform: scale(1.025);
                transform: scale(1.025);
                button {
                    text-decoration: underline;
                }
            }
            .thumb {
                background-color: $azulE;
                margin-bottom: 10px;
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 170px;
            }
            h2 {
                margin-bottom: 5px;
                color: $azulE;
                font-size: 16px;
            }
            button {
                background-color: rgba(0,0,0,0);
                padding: 0px;
                border: none;
                margin-bottom: 10px;
                color: $azulC;
                font-size: 14px;
                font-weight: 700;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -ms-transition: 0.4s;
                -o-transition: 0.4s;
                transition: 0.4s;
            }
        }
    }
}